<footer>
  <p>This class is taught by <a href="{{ site.instructor_url }}">{{ site.instructor_name }}</a> for The Iron Yard.</p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  <p class="view"><a href="{{ site.repository_url }}">View the Project on GitHub</a></p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.google_analytics_uid}}', 'auto');
  ga('send', 'pageview');

</script>
