<header>
  <h1><a href='{{ site.baseurl }}/'>{{ site.project_name }}</a></h1>
  <p>{{ site.description }}</p>

  <p class="view"><a href="{{ site.repository_url }}">View the Project on GitHub</a></p>

  <nav>
    <h3>Class Policies</h3>
    <div><a href='{{ site.baseurl }}/homework.html'>Homework</a></div>
    <div><a href='{{ site.baseurl }}/communication.html'>Communication</a></div>
    <div><a href='{{ site.baseurl }}/honesty.html'>Honesty</a></div>
    <div><a href='{{ site.baseurl }}/code_of_conduct.html'>Code of Conduct</a></div>
  </nav>
</header>
