<header>

  <h1><a href='{{ site.baseurl }}/'>
    <img src="{{ site.baseurl }}/img/rails.png" alt="The Iron Yard Rails Engineering Shield Logo">
    <br \>
    {{ site.project_name }}
  </a></h1>
  <p>{{ site.description }}</p>

  <p class="view"><a href="{{ site.repository_url }}">View the Project on GitHub</a></p>

  <nav>
    <h3>Class Policies</h3>
    <div><a href='{{ site.baseurl }}/homework.html'>Homework</a></div>
    <div><a href='{{ site.baseurl }}/communication.html'>Communication</a></div>
    <div><a href='{{ site.baseurl }}/honesty.html'>Honesty</a></div>
    <div><a href='{{ site.baseurl }}/code_of_conduct.html'>Code of Conduct</a></div>
    <br />

    <h3>Prework</h3>
    {% assign sorted_prework = site.prework | sort: 'order' %}
    {% for prework in sorted_prework | sort: 'order' %}
      <div><a href='{{ site.baseurl }}{{prework.url}}'>{{prework.title}}</a></div>
    {% endfor %}
  </nav>
</header>
